.main.style2 {
    text-align: center;
    padding: 4em 0 0 0;
}

.about-box {
    display: flex;
    justify-content: space-between;
    padding: 2em 1em 0 1em;
    font-size: 1.25em;
}

.one {
    text-align: left;
    max-width: 50%;
}

.one p {
    padding-bottom: 1em;
}

.two {
    text-align: left;
    min-width: 30%;
}

@media screen and (max-width: 736px) {

    .about-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .one {
        max-width: 100%;
    }

    .one p {
        font-size: 1em;
    }

    .two {
        min-width: 100%;
    }

}